archived/
*.RData
.Rhistory
.httr-oauth-salesforcer
report_cache/
.idea/
archived/
*.html
./vscode
desktop.ini
.Rproj.user/
.Rproj.user
cache/outputs
~*
logs/
scripts/sandbox.R
cache/output.cache/
cache/cached-result/